

#clickBtn {
  display: block;
  margin: 20px auto;
  background-color:rgba(0, 191, 255, 0.648);
  color: white;
  border: 0;
  padding: 6px 10px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  font-size: 20px;
}

#buttonContainer{
  align-items: center;
  justify-content: center;
}

#popupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#colorPopupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#popupInside {
  width: 100%;
  height: 500px;
  max-width: 400px;

  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

#colorPopupInside {
  width: 100%;
  height: 100px;
  max-width: 400px;

  background: white;
  margin: 10% auto;
  margin-top: 300px;
  margin-bottom: 30%;
  padding: 20px;
  position: relative;
  position :30px;
  border-radius: 10px;
}

#close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

#colorClose {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

#locationClose{
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

#inputContainer {
  text-align: center;
  height: 75%;
  
}

#taskTitle {
  width: 90%;
  margin: 10px;
}

#inputContainer {
  text-align: center;
  height: 80%;
  
}

#taskDiscription {
  height: 85%;
  width: 90%;
  margin-top: 10px;
}

#taskDateDiscription{
  display: inline;
  margin-left: 180px;
  color: gray;
  font-size: 11px;
}

#taskTime {
  margin-right: 10px;
  margin-left: 20px;
}

#taskColor {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
}

#taskLocation img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

#optionContainer {
  display: flex;
}

#Button {
  margin: 10px 20px;
}



#circleUpperLow {
  display: flex;
}

#circleLowerLow {
  display: flex;
}

.circles {
  margin: 30px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
  justify-content: space-evenly;
}

#circleRed {
  background-color: red;
}

#circleBlue {
  background-color: blue;
}

#circleYellow {
  background-color: yellow;
}

#circleGreen {
  background-color: green;
}

#circleOrange {
  background-color: orange;
}

#circlePurple {
  background-color: purple;
}

#circlePink {
  background-color: pink;
}

#circleBrown {
  background-color: brown;
}

#circleCyan {
  background-color: cyan;
}

#circleMagenta {
  background-color: magenta;
}
